<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CRUD Application</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <h4 class="text-center alert alert-info">Update Employee Details</h4>
        <form action="" method="POST">
            {% csrf_token %}
        <p>
            <label for="id_empid">Employee ID:</label>
            <input type="text" name="empid" class="form-control" id="id_empid" value="{{data.empid}}">
        </p>
        <p>
            <label for="id_empname">Employee Name:</label>
            <input type="text" name="empname" class="form-control" id="id_empname" value="{{data.empname}}">
        </p>
        <p>
            <label for="id_empdesignation">Designation:</label>
            <input type="text" name="empdesignation" class="form-control" id="id_empdesignation" value="{{data.empdesignation}}">
        </p>
        <p>
            <label for="id_empcontact">Contact Number:</label>
            <input type="text" name="empcontact" class="form-control" id="id_empcontact" value="{{data.empcontact}}">
        </p>
            <input type="submit" class="col-2 btn btn-success" value="Update">
        </form>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
